<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.wang.mapper.CustomerMapper">

    <resultMap id="queryListResultMap" type="com.wang.pojo.Customer">
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>

        <!--对多查询-->
        <collection property="orderList" ofType="com.wang.pojo.Order">
            <id column="order_id" property="orderId"/>
            <result column="order_name" property="orderName"/>
            <result column="customer_id" property="customerId"/>
        </collection>

    </resultMap>

    <select id="queryList" resultMap="queryListResultMap">
        select * from t_customer join t_order on t_customer.customer_id = t_order.customer_id
    </select>

</mapper>